version: '3.8'

services:

  backend:
    build: ./backend
    volumes:
      - ./backend:/backend
    expose:
      - 8000
    depends_on:
      - redis_service
  
  redis_service:
    image: "redis:alpine"
    expose:
      - 6379

  reverse_proxy:
    image: "nginx:latest"
    volumes:
      - ./nginx/prod/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/prod/corsheaders.conf:/etc/nginx/conf.d/corsheaders.conf
      - ./frontend/build:/usr/src/app
    ports:
      - 80:80
    depends_on:
      - backend
      - redis_service