app_name: matrix-cerberus

redis:
  # Used to construct redis database URL
  # 'uri' is in the form "redis :// [[username :] password@] host [:port][/database] [?[timeout=timeout[d|h|m|s|ms|us|ns]]"
  # replace 'uri' with "redis://redis_service/" when runnning with docker.
  #
  uri: redis://127.0.0.1:6379/

server_sessions:
  # Server side sessions to authenticate logged in users
  # 'expires_key' is to be set in seconds
  #
  session_key: sessionID
  expires_in: 3600

matrix_bot:
  homeserver: "https://example.org"
  access_token: some_access_token
  min_power_level: 50
  bg_validation_cooldown: 300

github:
  # GitHub OAuth App credentials
  # 'organisation_membership' can be set to 'admin' or 'member'.
  # A room admin can change conditions for an organisation only if they satisfy this membership.
  #
  client_id: client_id_token
  client_secret: client_secret_token
  redirect_uri: http://localhost:80/oauth2/github
  organisation_membership: "member"

patreon:
  # Patreon OAuth App credentials
  client_id: client_id_token
  client_secret: client_secret
  redirect_uri: http://localhost:80/oauth2/patreon

logging:
  path: "./logs"
  filename: "out.log"
  rotation: 20 days
  retention: 1 months
