aiofiles==0.6.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiosignal==1.2.0
anyio==3.6.1
asgiref==3.5.2
astroid==2.11.5
async-timeout==4.0.2
attrs==21.4.0
bcrypt==3.2.2
black==22.3.0
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
cryptography==37.0.2
Deprecated==1.2.13
dill==0.3.5.1
distlib==0.3.4
dnspython==2.2.1
email-validator==1.2.1
fastapi==0.78.0
filelock==3.7.1
frozenlist==1.3.0
future==0.18.2
h11==0.12.0
h2==4.1.0
hiredis==2.0.0
hpack==4.0.0
hyperframe==6.0.1
identify==2.5.1
idna==3.3
iniconfig==1.1.1
isort==5.10.1
jsonschema==3.2.0
lazy-object-proxy==1.7.1
Logbook==1.5.3
makefun==1.13.1
matrix-nio==0.19.0
mccabe==0.7.0
multidict==6.0.2
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
passlib==1.7.4
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.1
PyJWT==2.3.0
pylint==2.14.1
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.2
python-multipart==0.0.5
python-socks==2.0.3
PyYAML==6.0
redis==4.3.1
requests==2.27.1
safepickle==0.2.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
typing_extensions==4.2.0
unpaddedbase64==2.1.0
urllib3==1.26.9
uvicorn==0.17.6
virtualenv==20.14.1
wrapt==1.14.1
yarl==1.7.2
